.productCard{
  width: 250px;
  height: 450px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  .imageContainer{
    width: 100%;
    height: 75%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .infoContainer{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);
    color: var(--white-text-color);
    .name{
      width: 75%;
      text-align: left;
            font-size: 0.8rem;
    }
    .price{
      width: 25%;
      text-align: right;
      font-size: 1.2rem;
      color: var(--accent-color);
    }
  }
}
.productCard:hover{
  .infoContainer{
    .name{
      color: var(--accent-color);
    }
    .price{
      color: var(--white-text-color);
    }
  }
}