.grid{
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md); 
  padding: var(--spacing-md);
  justify-content: center;
  @media (max-width: 768px) {
    justify-content: center;
  }
}