.hero {
  width: 100%;
  height: 100vh;
  .backgroundContainer {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    width: 100%;
    height: 100%;
    background-color: rgba(3, 0, 2, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg);
    padding: var(--spacing-md);
    .slogan {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      .white {
        color: var(--white-text-color);
      }
      .accent {
        color: var(--accent-color);
      }
    }
    .paragraph {
      color: var(--white-text-color);
      width: 70%;
      text-align: center;
    }
  }
}
