.imageModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgba(0, 0, 0, 0.8);
  .imageContainer {
    max-width: 100%;
    @media (max-width: 768px) {
      height: 100%;
      display: flex;
      justify-content: center;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      object-position: top;
    }
  }
  .closeButton {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-top: var(--spacing-sm);
    margin-right: var(--spacing-sm);
    color: var(--white-text-color);
    font-size: var(--font-xl);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
